Match User agent
    PasswordAuthentication no
    ChallengeResponseAuthentication no
    KbdInteractiveAuthentication no
    PermitTTY yes
    X11Forwarding no
    AllowTcpForwarding no
    PermitTunnel no
    ExposeAuthInfo yes
    ForceCommand /usr/local/bin/opsbridge-agent
